$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$directions: (
    up: 'min-width',
    down: 'max-width'
);

@mixin breakpoint($direction: 'up', $from: 'xs') {
    $range: map-get($breakpoints, $from);
    $breakpoint: map-get($breakpoints, $from);

    @media screen and (#{$range}: $breakpoint) {
        @content;
    }
}
