@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body,
* {
    font-family: "IBM Plex Sans", sans-serif;
}

button {
    font-size: 16px;
    padding: 0.25rem 0.5rem;
}

.kitchen-sink {
    background-color: yellow;
}

button,
summary {
    border: none;
    padding: 0.5rem 0.25rem;
    background-color: magenta;
    border-radius: 0.25rem;
    text-align: center;
    display: inline-flex;

    &::marker {
        display: none;
    }
}

details {
    display: contents;
}

.parent-trigger {
    anchor-name: --parent-anchor;
}

.parent-popover {
    padding: 0.25rem;
    position: fixed;
    display: grid;
    gap: 0.25rem;

    grid-template-columns: auto auto;

    position-anchor: --parent-anchor;
    position-area: bottom span-right;


}

.child-trigger {
    anchor-name: --child-anchor;
}

.child-popover {
    grid-column: 1 / 2 / span 999;
    gap: 0.25rem;
    position: relative;
    position-anchor: --child-anchor;
}

.child-button {
    grid-column: 1;
}